player-connection-mode=Listen
player-connection-guid=3973591949
player-connection-debug=0
player-connection-project-name=MovingCube
player-connection-ip=10.152.127.134
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=cf05b7c9d2194419a83661b283f80524
